.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box; 
}

input[type="text"]{
    margin-bottom: 10px;
}

.rotationBtn{
    color: white;
    background-color: grey;
    border-color: grey;
    position: fixed; 
    bottom: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.rotationBtn:hover{
    opacity: 0.8;
}

.rotated-triangle, .triangle{
    font-family: monospace; 
    line-height: 1;
    white-space: pre;
    margin: 5rem;
}
